body {
	background-color:black ;
	margin: 0;
}
.circle-container1 {
  	display: flex;
  	gap: 20px;
}
  .circle11 {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background: ghostwhite;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 50px;
 }
.circle12{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
   display: inline-block;
   margin-left: 0px;
}
.circle13 {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
}
.circle14 {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle15 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle16 {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle17 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle18 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle19 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle20 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle21{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle-container {
  	display: flex;
  	gap: 20px; /* Adjust the gap between circles as needed */
}
  .circle {
   border-radius: 50%;
   width: 100px;
   height: 100px;
   background: ghostwhite;
   display: flex;
   justify-content: center;
   align-items: center;
 }

.circle p {
  font-family: Futura;
  color: black;
  font-size: 30px;
  text-align: center; 
}

.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
   display: inline-block;
}
.circle p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
	}
.circle1 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
}
.circle1 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle2 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle2 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle3 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle3 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle4 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle4 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle5 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle5 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}.circle6 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle6 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}.circle7 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle7 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle8 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle8 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle9 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle9 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
.circle10 {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: ghostwhite;
	display: flex;
   justify-content: center;
   align-items: center;
}
.circle10 p {
	font-family: Futura;
	color: black;
	font-size: 30px;
	text-align: center;
}
